.contact {
  gap: 2rem;

  &__socials {
    display: flex;
    gap: 10px;
    width: fit-content;
    a {
      height: 30px;
    }
    .socials__logo {
      width: 30px;
      height: auto;
      transition: all 300ms;
    }

    .socials__logo:hover {
      opacity: 0.8;
      transform: translateY(3px);
    }
  }
  &__note {
    height: fit-content;
    border-bottom: $clr-primary solid 1px;
  }
}
