// Colors
$clr-primary: #61ff5b;
$clr-secondary: #c7ffc5;
$clr-white: #ffffff;
$clr-bg-main: black;
$clr-bg-20: #0d0d0d;
$clr-border: 1px solid rgba(255, 255, 255, 0.1);

// Values
$maxgap: 70px;
$sectpad: $maxgap 0 0 0;
$max-width: 1300px;
$min-width: 300px;
$max-padding: 0px 18px 70px 18px;
$btn-padding: 18px 57px;
$btn-padding-small: 15px 54px;
$font-weight: (
  large: 600,
  medium: 500,
  small: 300,
);

// font size
$title: 82px;
$heading-large: 32px;
$heading-medium: 24px;
$heading-small: 18px;
$body-l: 1.125rem;
$body-m: 1rem;
$body-s: 0.875rem;
$body-xs: 0.75rem;
$header-Padding: 24px;
